In [101]:
import pandas as pd
import numpy as np

In [218]:
#Kiosztott titokdarabok Ã©s mod
mod=61
x=[1,2,3,4,5,6,7]
Fx=[45,53,46,23,44,47,31]
kulcsok=[1,2,3,4]

In [219]:
PD0=pd.DataFrame([[Fx[i-1] for i in kulcsok],
              [1 for i in kulcsok],
              [x[i-1] for i in kulcsok],
              [np.mod(np.power(i,2),mod) for i in [x[i-1] for i in kulcsok]],
              [np.mod(np.power(i,3),mod) for i in [x[i-1] for i in kulcsok]]
             ]).T
PD0

    0  1  2   3   4
0  45  1  1   1   1
1  53  1  2   4   8
2  46  1  3   9  27
3  23  1  4  16   3

In [220]:
PD1=pd.DataFrame(np.zeros((len(PD0.index)-1,len(PD0.columns)-1)))
for r in range(len(PD0.index)-1):
    x0,y0=PD0.iloc[r:r+2,len(PD0.columns)-1].values
    for c in range(len(PD0.columns)-1):
        x1,y1=PD0.iloc[r:r+2,c].values
        PD1.iloc[r,c]=np.mod(y0*x1-x0*y1,61)
PD1

      0     1     2     3
0   2.0   7.0   6.0   4.0
1  26.0  19.0  30.0  36.0
2   5.0  37.0  23.0  22.0

In [221]:
PD2=pd.DataFrame(np.zeros((len(PD1.index)-1,len(PD1.columns)-1)))
for r in range(len(PD1.index)-1):
    x0,y0=PD1.iloc[r:r+2,len(PD1.columns)-1].values
    for c in range(len(PD1.columns)-1):
        x1,y1=PD1.iloc[r:r+2,c].values
        PD2.iloc[r,c]=np.mod(y0*x1-x0*y1,61)
PD2

      0     1     2
0  29.0  54.0  35.0
1  26.0   1.0  15.0

In [222]:
PD3=pd.DataFrame(np.zeros((len(PD2.index)-1,len(PD2.columns)-1)))
for r in range(len(PD2.index)-1):
    x0,y0=PD2.iloc[r:r+2,len(PD2.columns)-1].values
    for c in range(len(PD2.columns)-1):
        x1,y1=PD2.iloc[r:r+2,c].values
        PD3.iloc[r,c]=np.mod(y0*x1-x0*y1,61)
PD3

      0     1
0  13.0  43.0

In [223]:
def fm(x1,mod):
    n=1
    while np.mod(n*x1,mod)!=1:
        n+=1
    return n

In [224]:
np.mod(fm(PD3.iloc[0,1],mod)*PD3.iloc[0,0],mod)

23.0